main {
    text-align: center;
}

.tabuleiro div input {
    width: 120px;
    height: 120px;
    margin: 5px;
    border: 1px solid rgb(151, 22, 22);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}